<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--<welcome-file-list>
    <welcome-file>/index</welcome-file>
  </welcome-file-list>-->

  <context-param>
    <param-name>login-filter-exclusion</param-name>
    <param-value>
      /login.jsp,
      /registration.jsp,
      /register,
      /login
    </param-value>
  </context-param>
</web-app>


